<div class="cols activity">
  <div class="cols-6 mod">
    <div class="activity_t">Общее количество баллов <b>120</b> из <b>180</b> возможных</div>
    <!--#include virtual="/views/common/_progress_l.html" -->
  </div><div class="cols-3 mod">
    <!--#include virtual="/views/progress/_progress.html" -->
    <!--#include virtual="/views/progress/_progress.html" -->
  </div><div class="cols-3 mod">
    <!--#include virtual="/views/progress/_progress.html" -->
    <!--#include virtual="/views/progress/_progress.html" -->
  </div>
</div>