/* IMPORT
---------------------------------------------------------------------------------------------------- */
@import "/css/vendor/reset.css" all;
@import "/css/vendor/jquery-ui-1.10.3.custom.css" all;
@import "/css/vendor/jquery.arcticmodal-0.3.css" all;

@import "/css/layers/base/layout.css" all;
@import "/css/layers/base/styles.css" all;
@import "/css/layers/base/dialogs.css" all;
@import "/css/layers/base/uranium-links.css" all;
@import "/css/layers/base/oxygen-forms.css" all;

@import "/css/layers/styles/styles.css" all;
@import "/css/layers/styles/content.css" all;

@import "/css/layers/project/icons.css" all;
@import "/css/layers/project/project.css" all;

/* RESPONSIVE
---------------------------------------------------------------------------------------------------- */
@import url(/css/media/media.css) all;
@import url(/css/media/phone.css) all and (max-width: 640px);
@import url(/css/media/tablet.css) all and (min-width: 641px) and (max-width: 940px);

/* FONTS STOCK
---------------------------------------------------------------------------------------------------- */
@font-face {
  font-family: 'gotham_problack';
  src: url('/fonts/gothaprobla-webfont-webfont.eot');
  src: url('/fonts/gothaprobla-webfont-webfont.eot?#iefix') format('embedded-opentype'),
       url('/fonts/gothaprobla-webfont-webfont.woff') format('woff'),
       url('/fonts/gothaprobla-webfont-webfont.ttf') format('truetype'),
       url('/fonts/gothaprobla-webfont-webfont.svg#gotham_problack') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'gotham_probold';
  src: url('/fonts/gothaprobol-webfont-webfont.eot');
  src: url('/fonts/gothaprobol-webfont-webfont.eot?#iefix') format('embedded-opentype'),
       url('/fonts/gothaprobol-webfont-webfont.woff') format('woff'),
       url('/fonts/gothaprobol-webfont-webfont.ttf') format('truetype'),
       url('/fonts/gothaprobol-webfont-webfont.svg#gotham_probold') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'gotham_prolight';
  src: url('/fonts/gothaprolig-webfont-webfont.eot');
  src: url('/fonts/gothaprolig-webfont-webfont.eot?#iefix') format('embedded-opentype'),
       url('/fonts/gothaprolig-webfont-webfont.woff') format('woff'),
       url('/fonts/gothaprolig-webfont-webfont.ttf') format('truetype'),
       url('/fonts/gothaprolig-webfont-webfont.svg#gotham_prolight') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'gotham_promedium1';
  src: url('/fonts/gothapromed-webfont-webfont.eot');
  src: url('/fonts/gothapromed-webfont-webfont.eot?#iefix') format('embedded-opentype'),
       url('/fonts/gothapromed-webfont-webfont.woff') format('woff'),
       url('/fonts/gothapromed-webfont-webfont.ttf') format('truetype'),
       url('/fonts/gothapromed-webfont-webfont.svg#gotham_promedium') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'gotham_proregular';
  src: url('/fonts/gothaproreg-webfont-webfont.eot');
  src: url('/fonts/gothaproreg-webfont-webfont.eot?#iefix') format('embedded-opentype'),
       url('/fonts/gothaproreg-webfont-webfont.woff') format('woff'),
       url('/fonts/gothaproreg-webfont-webfont.ttf') format('truetype'),
       url('/fonts/gothaproreg-webfont-webfont.svg#gotham_proregular') format('svg');
  font-weight: normal;
  font-style: normal;
}