/* IMPORT
---------------------------------------------------------------------------------------------------- */
@import "/css/vendor/reset.css" all;
@import "/css/vendor/jquery-ui-1.10.3.custom.css" all;
@import "/css/vendor/jquery.arcticmodal-0.3.css" all;

@import "/css/layers/base/layout.css" all;
@import "/css/layers/base/styles.css" all;
@import "/css/layers/base/dialogs.css" all;
@import "/css/layers/base/uranium-links.css" all;
@import "/css/layers/base/oxygen-forms.css" all;

@import "/css/layers/styles/styles.css" all;
@import "/css/layers/styles/content.css" all;

@import "/css/layers/project/icons.css" all;
@import "/css/layers/project/fullcalendar.css" all;
@import "/css/layers/project/project.css" all;

/* RESPONSIVE
---------------------------------------------------------------------------------------------------- */
@import url(/css/media/media.css) all;
@import url(/css/media/phone.css) all and (max-width: 640px);
@import url(/css/media/tablet.css) all and (min-width: 641px) and (max-width: 940px);

/* FONTS STOCK
---------------------------------------------------------------------------------------------------- */
@font-face {
  font-family: 'ltblack';
  src: url('/fonts/lt-black-webfont.eot');
  src: url('/fonts/lt-black-webfont.eot?#iefix') format('embedded-opentype'),
       url('/fonts/lt-black-webfont.woff') format('woff'),
       url('/fonts/lt-black-webfont.ttf') format('truetype'),
       url('/fonts/lt-black-webfont.svg#ltblack') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'ltroman';
  src: url('/fonts/lt-roman-webfont.eot');
  src: url('/fonts/lt-roman-webfont.eot?#iefix') format('embedded-opentype'),
       url('/fonts/lt-roman-webfont.woff') format('woff'),
       url('/fonts/lt-roman-webfont.ttf') format('truetype'),
       url('/fonts/lt-roman-webfont.svg#ltroman') format('svg');
  font-weight: normal;
  font-style: normal;
}