<tr class="table_d_tr">
  <td class="table_td">
    <div class="clearfix">
      <div class="f-l">
        <p>ДЗ для семинара №1235</p>
        <p class="tx __muted">дата сдачи: <b>23 июля</b> / <b>сегодня в 17.00</b></p>
      </div>
      <div class="f-r">
        <a href="#"  class="tasks_switch">описание</a><a href="#"><i class="ico-12 __comments"></i></a>
      </div>
    </div>
    <div class="tasks_description">
      <p class="tasks_description_tx">В учебнике по мат. статистике (Дробыш) с 151 по 170 варианты, подставляйте в последнюю цифру свой номер в группе... бла бла бла… много текста. В учебнике по мат. статистике (Дробыш) с 151 по 170 варианты, подставляйте в последнюю цифру свой номер в группе... бла бла бла… много текста. В учебнике по мат. статистике (Дробыш) с 151 по 170 варианты, подставляйте в последнюю цифру свой номер в группе... бла бла бла… много текста.</p>
      <div class="comments">
        <!--#include virtual="/views/common/comments/_item.html" -->
        <!--#include virtual="/views/common/comments/_item.html" -->
        <!--#include virtual="/views/common/comments/_item.html" -->
        <div class="comments_i">
          <div class="comments_i_avatar">
            <div class="user-avatar">
              <a href="#"><img data-src="/js/vendor/holder.js/28x28/#999:#fff/text: " class="user-avatar_img" width="32" height="32"></a>
            </div>
          </div><div class="comments_i_add">
            <form class="form">
              <textarea rows="8" class="form_textarea form_el __block" placeholder="Введите Ваше сообщение.."></textarea>
              <input type="submit" class="form_button __default __s cols-2" value="Отправить">
            </form>
          </div>
        </div>
      </div>
    </div>
  </td>
  <td class="table_td" width="90">
    <div class="tx __center"><i class="ico-file">pdf</i></div>
  </td>
  <td class="table_td">
    <p class="tx __muted">25.05.2013</p>
  </td>
</tr>