<figure class="dashboard_i">
  <header class="dashboard_i_h">
    <div class="cols">
      <div class="cols-6 mod">
        <div class="user-avatar __online">
          <a href="#"><img data-src="/js/vendor/holder.js/32x32/#999:#fff/text: " class="user-avatar_img" width="32" height="32"></a>
        </div>
        <div class="dashboard_i_details">
          <p class="dashboard_i_details_user"><a href="#" class="dashboard_i_details_user_a"><b>Константин Константинопольский</b></a></p>
          <p class="dashboard_i_details_time">8 минут назад</p>
        </div>
      </div><div class="cols-2 mod">
        <p class="dashboard_i_theme">Математика</p>
      </div>
    </div>
  </header>
  <figcaption class="dashboard_i_caption">
    <p>Поставил тебе <b>41</b> бал за <a href="#">Домашнее Задание</a> на 20 сентября</p>
  </figcaption>
</figure>