!!!
%html.no-js{lang: "ru-RU"}
  %head
    %title Календарь / SkyCampus
    / #include virtual="/views/layouts/_head.html"
  %body
    / #include virtual="/views/layouts/_alerts.html"
    / #include virtual="/views/layouts/_header.html"
    / #include virtual="/views/layouts/_sidebar.html"
    %nav#nav.nav.clearfix
      .f-l
        %a.nav_a.nav_prev{"data-nav" => "prev", href: "#"}
        %span.nav_current Август 2013
        %a.nav_a.nav_next{"data-nav" => "next", href: "#"}
      .f-r
        %a#today-button.form_button.__color.__s.cols-2{href: "#", style: "margin-right: 2rem;"} Сегодня
        %menu#calendar-view.nav_menu.__color
          %li.nav_menu_i
            %a.nav_menu_i_a{"data-view" => "agendaDay", href: "#"} День
          %li.nav_menu_i
            %a.nav_menu_i_a.__current{"data-view" => "agendaWeek", href: "#"} Неделя
          %li.nav_menu_i
            %a.nav_menu_i_a{"data-view" => "month", href: "#"} Месяц
    %section#section.section{role: "main"}
      .calendar
        %nav.calendar_nav.clearfix.m-b_2
          .f-l.calendar_nav_checkbox
            %label.form_label.calendar_nav_checkbox_i
              %span.form_checkbox.form_el.__fake>
                %input.form_checkbox.form_el.__real{type: "checkbox"}/
              Учебный
            %label.form_label.calendar_nav_checkbox_i
              %span.form_checkbox.form_el.__fake>
                %input.form_checkbox.form_el.__real{type: "checkbox"}/
              Личный
          .f-r
            %menu.nav_menu.__default.calendar_nav_menu
              %li.nav_menu_i
                %a.nav_menu_i_a{href: "#"} Все
              %li.nav_menu_i
                %a.nav_menu_i_a{href: "#"} Лекции
              %li.nav_menu_i
                %a.nav_menu_i_a{href: "#"} Семинары
              %li.nav_menu_i
                %a.nav_menu_i_a{href: "#"} Прочее
            %a.form_button.__default.__s.calendar_nav_button.cols-2{href: "#"}
              %b +
              Создать событие
            %a.form_button.__default.__s.calendar_nav_button.__settings{href: "#"}
              %i.ico-16.__settings
        #calendar
    / #include virtual="/views/layouts/_footer.html"
    :javascript
      $(function() {

        var date = new Date();
        var d = date.getDate();
        var m = date.getMonth();
        var y = date.getFullYear();
        
        $('#calendar').fullCalendar({
          header: false,
          defaultView: 'agendaWeek',
          firstDay: 1,
          firstHour: 8,
          axisFormat: 'H:mm',
          events: '/data/feed.json',
          timeFormat: 'H:mm{ - H:mm}',
          editable: false,
          allDayText: 'День',
          monthNames: ['Январь','Февраль','Март','Апрель','Май','Июнь','Июль','Август','Сентябрь','Октябрь','Ноябрь','Декабрь'],
          monthNamesShort: ['Янв.','Фев.','Март','Апр.','Май','Июнь','Июль','Авг.','Сент.','Окт.','Ноя.','Дек.'],
          dayNames: ['Воскресенье','Понедельник','Вторник','Среда','Четверг','Пятница','Суббота'],
          dayNamesShort: ['ВС','ПН','ВТ','СР','ЧТ','ПТ','СБ'],
          viewDisplay: function(view) {
            getTitle();
            var first = true;
            if (first) {
              first = false;
            } else {
              window.clearInterval(timelineInterval);
            }
            timelineInterval = window.setInterval(setTimeline, 60000);
            try {
              setTimeline();
            } catch(err) {}
          }
        });

        // Next & Prev click
        $('#nav').find('.nav_a').click(function() {
          $('#calendar').fullCalendar($(this).data('nav'));
          getTitle();
          return false;
        });

        // Today click
        $('#today-button').click(function() {
          $('#calendar').fullCalendar('today');
          getTitle();
          return false;
        });        

        // View click
        $('#calendar-view').find('.nav_menu_i_a').click(function() {
          var view = $(this).data('view');
          $('#calendar').fullCalendar('changeView', view);
          $('.nav_menu').find('.__current').removeClass('__current');
          $(this).addClass('__current');
          getTitle();
          return false;
        });

        function getTitle() {
          var view = $('#calendar').fullCalendar('getView');
          $('#nav').find('.nav_current').html(view.title);  
        }

        function setTimeline(view) {
          var parentDiv = jQuery(".fc-agenda-slots:visible").parent();
          var timeline = parentDiv.children(".timeline");
          if (timeline.length == 0) { //if timeline isn't there, add it
            timeline = jQuery("<hr>").addClass("timeline");
            parentDiv.prepend(timeline);
          }

          var curTime = new Date();

          var curCalView = jQuery("#calendar").fullCalendar('getView');
          if (curCalView.visStart < curTime && curCalView.visEnd > curTime) {
            timeline.show();
          } else {
            timeline.hide();
            return;
          }

          var curSeconds = (curTime.getHours() * 60 * 60) + (curTime.getMinutes() * 60) + curTime.getSeconds();
          var percentOfDay = curSeconds / 86400; //24 * 60 * 60 = 86400, # of seconds in a day
          var topLoc = Math.floor(parentDiv.height() * percentOfDay);

          timeline.css("top", topLoc + "px");
        }        

      });