!!!
%html.no-js{lang: "ru-RU"}
  %head
    %title Учебные материалы / SkyCampus
    / #include virtual="/views/layouts/_head.html"
  %body
    / #include virtual="/views/layouts/_alerts.html"
    / #include virtual="/views/layouts/_header.html"
    / #include virtual="/views/layouts/_sidebar.html"
    %nav#nav.nav.clearfix
      .f-l
        %a.nav_prev{href: "#"}
        %span.nav_current КолАнал
        %a.nav_next{href: "#"}
      .f-r
        %menu.nav_menu.__color
          %li.nav_menu_i
            %a.nav_menu_i_a{href: "/classes_progress.html"} Успеваемость
          %li.nav_menu_i
            %a.nav_menu_i_a{href: "/classes_schedule.html"} Расписание
          %li.nav_menu_i
            %a.nav_menu_i_a{href: "/classes_tasks.html"} Задания
          %li.nav_menu_i
            %a.nav_menu_i_a.__current{href: "/classes_files.html"} Материалы
          %li.nav_menu_i
            %a.nav_menu_i_a{href: "/classes_teachers.html"} Преподы
    %section#section.section{role: "main"}
      .ctn
        .cols
          .cols-3.mod
            %h1.section_t Учебные материалы
          .cols-6.mod.tx.__right
            %form{action: ""}
              %a#upload.form_button.__default.__s.cols-2{href: "#"}
                %b +
                Добавить файл
              %input#file_upload{style: "height: 0; opacity: 0; width: 0;", type: "file"}/
          .cols-9.mod
            %table.table.files
              %thead
                %tr
                  %th
                    .table_arrow Название
                  %th
                    .table_arrow Тип
                  %th
                    .table_arrow Дата
              %tbody
                / #include virtual="/views/classes/files/_item_group.html"
                / #include virtual="/views/classes/files/_item.html"
                / #include virtual="/views/classes/files/_item.html"
                / #include virtual="/views/classes/files/_item.html"
                / #include virtual="/views/classes/files/_item.html"
                / #include virtual="/views/classes/files/_item.html"
                / #include virtual="/views/classes/files/_item_group.html"
                / #include virtual="/views/classes/files/_item.html"
                / #include virtual="/views/classes/files/_item.html"
                / #include virtual="/views/classes/files/_item.html"
                / #include virtual="/views/classes/files/_item.html"
                / #include virtual="/views/classes/files/_item.html"
    / #include virtual="/views/layouts/_footer.html"
    :javascript
      $(function() {
        $('#upload').click(function() {
          $('#file_upload').trigger('click');
        });
      });