<footer id="footer" class="footer" role="contentinfo">
  <nav class="footer_nav">
    <a href="#" class="footer_nav_a">О сайте</a>
    <a href="#" class="footer_nav_a">Помощь</a>
    <a href="#" class="footer_nav_a">Правила</a>
    <a href="#" class="footer_nav_a">Реклама</a>
    <a href="#" class="footer_nav_a">Разработчикам</a>
    <a href="#" class="footer_nav_a">Вакансии</a>
  </nav>
</footer>