<!-- to-do: refactoring :[ -->
<header id="header" class="header" role="banner">
  <div class="cols header_left">
    <div class="cols-3 mod">
      <a href="/"><img src="/img/logo@2x.png" alt="SkyCampus" width="180" height="36" class="logo"></a>
    </div><div class="cols-6 mod">
      <div class="clock">
        <img src="/img/clock@2x.png" alt="" width="24" height="24" class="clock_ico">
        <span class="clock_time">10:50</span>
        <span class="clock_tx">30 мин. до семинара по КолАнал</span>
      </div>
    </div>
  </div>  
  <div class="header_right">
    <div class="search">
      <form>
        <input type="text" class="search_input">
        <input type="submit" class="search_submit" value="">
      </form>
    </div>
    <div class="header_right_devider"></div>
    <div class="user-avatar">
      <a href="#"><img data-src="/js/vendor/holder.js/28x28/#999:#fff/text: " class="user-avatar_img"></a>
    </div>
  </div>
</header>