<aside id="aside" class="aside">
  <menu class="menu">
    <li class="menu_i"><a href="#" class="menu_i_a"><i class="ico-27 __dashboards menu_i_a__ico"></i>Дэшборд</a></li>
    <li class="menu_i"><a href="#" class="menu_i_a"><i class="ico-27 __messages menu_i_a__ico"></i>Сообщения <span class="badge __main">3</span></a></li>
    <li class="menu_i"><a href="/calendar_week.html" class="menu_i_a"><i class="ico-27 __calendar menu_i_a__ico"></i>Календарь</a></li>
    <li class="menu_i"><a href="#" class="menu_i_a"><i class="ico-27 __items menu_i_a__ico"></i>Предметы</a></li>
    <li class="menu_i"><a href="#" class="menu_i_a"><i class="ico-27 __classmates menu_i_a__ico"></i>Одногрупники</a></li>
  </menu>
</aside>