<script type="text/template" id="push">
  <div class="push cols-4" style="display: none;" onclick="location.href='/messages_chat.html'">
    <header class="push_h">
      <p><b>Новое сообщение</b></p>
      <a href="#" class="push_h_close">&times;</a>
    </header>
    <section class="push_b clearfix">
      <div class="user-avatar f-l"><img data-src="/js/vendor/holder.js/48x48/#999:#fff/text: " class="user-avatar_img" width="48" height="48"></div>
      <article class="push_b_cnt f-r">
        <p class="push_b_cnt_t">Учебный отдел</p>
        <p>Не желаешь на наш фестиваль заглянуть? https://vk.com/kfest...</p>
      </article>
    </section>
  </div>
</script>