<div class="dialog" id="files_on_group">
  <header class="dialog_h">
    <div class="cols-8">
      <p><b>Добавление материала для группы ПИНФ-ОД-1</b></p>
      <a href="#" class="dialog_h_close js-dialog_close">&times;</a>
    </div>
  </header>
  <section class="dialog_b">
    <div class="cols-8">
      <form class="form">
        <div class="form_row">
          <label class="form_label form_el __block">Заголовок</label>
          <input type="text" class="form_text __l form_el __block" autofocus placeholder="Введите текст заголовка...">
        </div>
        <div class="form_row">
          <label class="form_label form_el __block">Приложение</label>
          <div class="form_row">
            <div class="form_file form_el __fake cols-5"><p>&nbsp;</p></div>
            <input type="file" class="form_file form_el __real">
          </div>
        </div>
        <div class="form_row">
          <label class="form_label form_el __block">Группа</label>
          <div class="form_array">
            <div class="form_row">
              <div class="form_select form_el __fake cols-3">
                <p>&nbsp;</p>
                <select class="form_select form_el __real">
                  <option selected>Выберети группу...</option>
                  <option>Первый</option>
                  <option>Второй</option>
                  <option>Третий третий третий третий</option>
                </select>
              </div>
              <!-- <a href="#"><i class="ico-12 __trash form_array_remove"></i></a> -->
            </div> <!-- /form_row -->
            <a href="#" class="form_button __default __l cols-2"><b>+</b> Добавить группу</a>         
          </div>
        </div>
        <div class="form_row __nolable">
          <input type="submit" class="form_button __color __l cols-4 offset-2" value="Сохранить">
        </div>
      </form>
    </div>
  </section>
</div>