<div style="display: none;">
  <div class="dialog cols-8" id="message_new">
    <header class="dialog_h">
      <p><b>Новое сообщение</b></p>
      <a href="#" class="dialog_h_close"><i class="ico-12 __close"></i></a>
    </header>
    <section class="dialog_b">
      <div class="cols-6 offset-1 mod">
        <form class="form">
          <p class="tx __large" style="margin-bottom: 1rem;"><b>Сообщение</b></p>
          <textarea rows="8" class="form_textarea form_el __block m-b_4"></textarea>
          <input type="submit" class="form_button __default" value="Отправить">
        </form>
      </div>
    </section>
  </div>
</div>