<div class="dialog" id="message_new">
  <header class="dialog_h">
    <div class="cols-8">
      <p><b>Новое сообщение</b></p>
      <a href="#" class="dialog_h_close js-dialog_close">&times;</a>
    </div>
  </header>
  <section class="dialog_b">
    <div class="cols-8">
      <form class="form">
        <div class="form_row">
          <label class="form_label form_el __block">Сообщение</label>
          <textarea rows="8" class="form_textarea form_el __block m-b_2" autofocus placeholder="Введите текст сообщения..."></textarea>
        </div>
        <div class="form_row __nolable">
          <input type="submit" class="form_button __color __l cols-4 offset-2" value="Отправить">
        </div>
      </form>
    </div>
  </section>
</div>