<div class="dialog" id="social_profile">
  <header class="dialog_h">
    <div class="cols-4">
      <p><b>Аккаунты социальных сетей</b></p>
      <a href="#" class="dialog_h_close js-dialog_close">&times;</a>
    </div>
  </header>
  <section class="dialog_b">
    <div class="cols-4">
      <form class="form">
        <div class="form_row">
          <div class="cols">
            <div class="cols-2 mod">
              <a href="#" class="form_button __default __s cols-2">VK</a>
            </div><div class="cols-2 mod">
              <a href="#" class="form_button __default __s cols-2" disabled>Twitter</a>
            </div><div class="cols-2 mod">
              <a href="#" class="form_button __default __s cols-2">Facebook</a>
            </div><div class="cols-2 mod">
              <a href="#" class="form_button __default __s cols-2">Foursquare</a>
            </div><div class="cols-2 mod">
              <a href="#" class="form_button __default __s cols-2">Instagram</a>
            </div>
          </div>
        </div>
        <div class="form_row __nolable">
          <a href="#" class="form_button __color __l cols-4 js-dialog_close">Ок</a>
        </div>
      </form>
    </div>
  </section>
</div>