<tr class="table_d_tr">
  <td class="table_td">
    <div class="clearfix">
      <div class="f-l">
        <p>ДЗ для семинара №1235</p>
        <p class="tx __muted">дата сдачи: <b>23 июля</b> / <b>сегодня в 17.00</b></p>
      </div>
      <div class="f-r">
        <a href="#"  class="tasks_switch">описание</a><a href="#"><i class="ico-12 __comments"></i></a>
      </div>
    </div>
    <div class="tasks_description">
      <p class="tasks_description_tx">В учебнике по мат. статистике (Дробыш) с 151 по 170 варианты, подставляйте в последнюю цифру свой номер в группе... бла бла бла… много текста. В учебнике по мат. статистике (Дробыш) с 151 по 170 варианты, подставляйте в последнюю цифру свой номер в группе... бла бла бла… много текста. В учебнике по мат. статистике (Дробыш) с 151 по 170 варианты, подставляйте в последнюю цифру свой номер в группе... бла бла бла… много текста.</p>
      <!--#include virtual="/views/common/comments/_feed.html" -->
    </div>
  </td>
  <td class="table_td" width="90">
    <!--#include virtual="/views/common/_ico_file.html" -->
  </td>
  <td class="table_td">
    <p class="tx __muted">25.05.2013</p>
  </td>
</tr>