<div class="progress __l __default">
  <div class="progress_bar __secondary" style="width: 70%;"><span>автомат</span> 160</span></div>
  <div class="progress_bar" style="width: 40%;">120 <span>(60%)</span></div>
  <div class="progress_total">180</div>
</div>