<div class="comments_i">
  <div class="comments_i_avatar">
    <div class="user-avatar">
      <a href="#"><img data-src="/js/vendor/holder.js/28x28/#999:#fff/text: " class="user-avatar_img" width="32" height="32"></a>
    </div>
  </div><div class="comments_i_add">
    <form class="form">
      <textarea rows="8" class="form_textarea form_el __block" placeholder="Введите Ваше сообщение.."></textarea>
      <input type="submit" class="form_button __default cols-2" value="Отправить">
    </form>
  </div>
</div>