<nav id="nav" class="nav clearfix">
  <div class="page-t">Численные, эвристические математические и ниебические методы</div>
  <menu class="nav_menu">
    <li class="nav_menu_i"><a href="#" class="nav_menu_i_a __current">Успеваемость</a></li>
    <li class="nav_menu_i"><a href="#" class="nav_menu_i_a">Расписание</a></li>
    <li class="nav_menu_i"><a href="#" class="nav_menu_i_a">Задания</a></li>
    <li class="nav_menu_i"><a href="#" class="nav_menu_i_a">Материалы</a></li>
    <li class="nav_menu_i"><a href="#" class="nav_menu_i_a">Преподы</a></li>
  </menu>
</nav>