<tr class="table_d_tr">
  <td class="table_td">
    <p class="tx __large"><b>Клишенко Фома</b></p>
  </td>
  <td class="table_td">
    <span class="form_checkbox form_el __fake"><input type="checkbox" class="form_checkbox form_el __real"></span>
  </td>
  <td class="table_td" width="240">
    <span class="form_checkbox form_el __fake"><input type="checkbox" class="form_checkbox form_el __real"></span>
  </td>
</tr>