/* ICONS SORTING
---------------------------------------------------------------------------------------------------- */
.ico-sorting {
  background: url('/img/ico-sorting.png') no-repeat;
  display: inline-block;
  height: 10px;
  width: 7px;
}
.ico-sorting.__default {background-position: 0 0;}
.ico-sorting.__bottom  {background-position: -7px 0;}
.ico-sorting.__top     {background-position: -14px 0;}

@media (-webkit-min-device-pixel-ratio: 2), (-o-min-device-pixel-ratio: 3 / 2), (min-device-pixel-ratio: 2) {
  .ico-sorting {
    background: url('/img/ico-sorting@2x.png') no-repeat;
    background-size: cover;
  }
}

/* ICONS FILE
---------------------------------------------------------------------------------------------------- */
.ico-file {
  background: url("/img/ico-file.png") no-repeat;
  color: #fff;
  display: inline-block;
  font-family: "gotham_probold", Helvetica, Arial, sans-serif;
  font-size: .8rem;
  font-style: normal;
  font-weight: 700;
  height: 24px;
  line-height: 28px;
  text-align: center;
  width: 20px;
}
@media (-webkit-min-device-pixel-ratio: 2), (-o-min-device-pixel-ratio: 3 / 2), (min-device-pixel-ratio: 2) {
  .ico-file {
    background: url('/img/ico-file@2x.png') no-repeat;
    background-size: cover;
  }
}

/* ICONS 9
---------------------------------------------------------------------------------------------------- */
.ico-9 {
  background: url('/img/ico-9.png') no-repeat;
  display: inline-block;
  height: 9px;
  width: 9px;
}
.ico-9.__star {background-position: 0 0;}

@media (-webkit-min-device-pixel-ratio: 2), (-o-min-device-pixel-ratio: 3 / 2), (min-device-pixel-ratio: 2) {
  .ico-9 {
    background: url('/img/ico-9@2x.png') no-repeat;
    background-size: cover;
  }
}

/* ICONS 12
---------------------------------------------------------------------------------------------------- */
.ico-12 {
  background: url('/img/ico-12.png') no-repeat;
  display: inline-block;
  height: 12px;
  width: 12px;
  vertical-align: middle;
}
.ico-12.__users    {background-position: 0 0;}
.ico-12.__message  {background-position: -12px 0;}
.ico-12.__comments {background-position: -24px 0;}

@media (-webkit-min-device-pixel-ratio: 2), (-o-min-device-pixel-ratio: 3 / 2), (min-device-pixel-ratio: 2) {
  .ico-12 {
    background: url('/img/ico-12@2x.png') no-repeat;
    background-size: cover;
  }
}

/* ICONS 27
---------------------------------------------------------------------------------------------------- */
.ico-27 {
  background: url('/img/ico-27.png') no-repeat;
  display: inline-block;
  height: 27px;
  width: 27px;
}
.ico-27.__dashboards {background-position: 0 0;}
.ico-27.__messages   {background-position: -27px 0;}
.ico-27.__calendar   {background-position: -54px 0;}
.ico-27.__items      {background-position: -81px 0;}
.ico-27.__classmates {background-position: -108px 0;}

@media (-webkit-min-device-pixel-ratio: 2), (-o-min-device-pixel-ratio: 3 / 2), (min-device-pixel-ratio: 2) {
  .ico-27 {
    background: url('/img/ico-27@2x.png') no-repeat;
    background-size: cover;
  }
}