<table class="table files">
  <thead class="table_h">
    <tr>
      <th class="table_th"><a href="#" class="table_th_a">Название <i class="ico-sorting __default table_th_sort"></i></a></th>
      <th class="table_th"><a href="#" class="table_th_a">Тип <i class="ico-sorting __default table_th_sort"></i></a></th>
      <th class="table_th __current"><a href="#" class="table_th_a">Дата <i class="ico-sorting __bottom table_th_sort"></i></a></th>
    </tr>
  </thead>
  <tbody class="table_b">
    <!--#include virtual="/views/files/_item_group.html" -->
    <!--#include virtual="/views/files/_item.html" -->
    <!--#include virtual="/views/files/_item.html" -->
    <!--#include virtual="/views/files/_item.html" -->
    <!--#include virtual="/views/files/_item.html" -->
    <!--#include virtual="/views/files/_item.html" -->
    <!--#include virtual="/views/files/_item_group.html" -->
    <!--#include virtual="/views/files/_item.html" -->
    <!--#include virtual="/views/files/_item.html" -->
    <!--#include virtual="/views/files/_item.html" -->
    <!--#include virtual="/views/files/_item.html" -->
    <!--#include virtual="/views/files/_item.html" -->
  </tbody>
</table>