<table class="table classes">
  <thead class="table_h">
    <tr>
      <th class="table_th"><a href="#" class="table_th_a">Предмет <i class="ico-sorting __default table_th_sort"></i></a></th>
      <th class="table_th __current"><a href="#" class="table_th_a">Пара <i class="ico-sorting __bottom table_th_sort"></i></a></th>
      <th class="table_th"><a href="#" class="table_th_a">Успеваемость <i class="ico-sorting __default table_th_sort"></i></a></th>
    </tr>
  </thead>
  <tbody class="table_b">
    <!--#include virtual="/views/classes/_item.html" -->
    <!--#include virtual="/views/classes/_item.html" -->
    <!--#include virtual="/views/classes/_item.html" -->
    <!--#include virtual="/views/classes/_item.html" -->
    <!--#include virtual="/views/classes/_item.html" -->
    <!--#include virtual="/views/classes/_item.html" -->
    <!--#include virtual="/views/classes/_item.html" -->
    <!--#include virtual="/views/classes/_item.html" -->
    <!--#include virtual="/views/classes/_item.html" -->
    <!--#include virtual="/views/classes/_item.html" -->
  </tbody>
</table>