<div class="teachers_i">
  <div class="cols">
    <div class="cols-1 mod va-m">
      <div class="user-avatar __online">
        <a href="#"><img data-src="/js/vendor/holder.js/48x48/#999:#fff/text: " class="user-avatar_img" width="32" height="32"></a>
      </div>
    </div><div class="cols-5 mod va-m">
      <h1 class="teachers_i_name"><a href="#">Овчинников Петр Иванович</a><span>семенарист</span></h1>
      <a href="mailto: kirzakova@gmail.com" class="teachers_i_a"><i class="ico-12 __message"></i>&nbsp;kirzakova@gmail.com</a>
    </div><div class="cols-3 mod va-m tx __right">
      <a href="#" class="form_button __color cols-2" data-dialog="message_new">Написать сообщение</a>
    </div><div class="cols-9 mod va-m">
      <article>
        <p>Доктор экономических наук, профессор – заведующий научно-исследовательской лабораторией по изучению социально-экономических проблем развивающихся стран.</p>
        <p>Кандидат экономических наук, ведущий научный сотрудник кафедры экономики труда и персонала. Заместитель декана по развитию. Доктор экономических наук, профессор – заведующий кафедрой экономической информатики.</p>
      </article>
    </div>
  </div>
</div>